
/* center content in screen */
.centered {
	margin: 0 auto 20px auto;
	width: 1100px;
	padding-top: 20px;
	padding-bottom: 40px;
}


/* ad a box around each section of the form */
.box {
	background-color: #F3F3F3;
	margin: 10px auto 10px auto;
	width: 80%;
	height: 90%;
	padding: 30px;
	padding-top: 0;
	border-color: #BDBDBD;
	border-width: 1px;
	border-style: solid;
}
.box_hidden {
	margin: 0 auto 0 auto;
	width: 80%;
	padding: 0px;
}


/* size google map */
#googleMap {
	margin-left: -110px;
	width: 700px;
	height: 400px;
}


/* align items to middle of box */
.align_center {
	margin: 0 auto 0 auto;
	width: 55%;
}


/* align IDs text */
.heading_case {
	padding-left: 130px;
}
.heading_bike {
	padding-left: 30px;
}


/* style and align text in boxes */
span {
	margin: 3px;
}
#red-box {
	width: 6px;
	height: 15px;
	background-color: #dd1717;
	display: inline-block;
	position: relative;
	bottom: -3px;
}
#green-box {
	width: 6px;
	height: 15px;
	background-color: #26942f;
	display: inline-block;
	position: relative;
	bottom: -3px;
}
.map_heading {
	display:inline-block;
	width: 140px;
}
.map_info {
	display:inline-block;
}
.case_heading {
	display:inline-block;
	width: 170px;
}
.case_info {
	
}
.bike_heading {
	display:inline-block;
	width: 140px;
}
.bike_info {
	
}
.bike_items {
	padding-left: 40px;
}
.user_heading {
	display:inline-block;
	width: 70px;
}
.user_info {
	
}


/* contact user form */
#contact-form{
	display: none;
}
.input {
	width: 480px;
}
.message {
	height: 200px;
}



/* style added images */
.image_bounds{
	margin: 0 auto 0 auto;
	margin-left: -100px;
	width: 140%;
	overflow: auto; /* fix for image out of bounds */
}
.column{
    float: left;
    width: 50%;
}
article {
	position: relative;
	margin: 6% auto 6% auto;
	margin-top: 3%;
	width: 70%;
	height: 200px;
	background-repeat: no-repeat;
	background-color: #EEE;
	background-size: cover;
}


/* style and align buttons in boxes */
.align_center > h1 {
	display: inline-block;
}
.details_button {
	float: right;
	margin-top: 20px;
	height: 30px;
	width: 120px;
	border-radius: 0px;
	color: #F3F3F3;
	font-weight: 600;
	font-size: 15px;
	text-align: center;
	text-decoration: none;
	transition-duration: 0.3s;
	cursor: pointer;
	background-color: #616161;
	border: 2px solid #616161;
}
.details_button:hover {
	background-color: #4C4C4C;
	border: 2px solid #4C4C4C;
	color: #F3F3F3;
}
.details_button:active {
	transition-duration: 0s;
}
.details_button > a {
	color: #F3F3F3;
	font-weight: 600;
	font-size: 15px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
}


/* style and align buttons in boxes */
#marketplace-button {
	margin-left: 140px;
	height: 40px;
	width: 300px;
	border-radius: 0px;
	color: #F3F3F3;
	font-weight: 600;
	font-size: 20px;
	text-align: center;
	text-decoration: none;
	transition-duration: 0.3s;
	cursor: pointer;
	background-color: #616161;
	border: 2px solid #616161;
}
#marketplace-button:hover {
	background-color: #4C4C4C;
	border: 2px solid #4C4C4C;
	color: #F3F3F3;
}
#marketplace-button:active {
	transition-duration: 0s;
}
#marketplace-button > a {
	color: #F3F3F3;
	font-weight: 600;
	font-size: 20px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
}


/* style and align contact button */
#contact-button {
	display: block;
	height: 30px;
	width: 140px;
	border-radius: 0px;
	color: #F3F3F3;
	font-weight: 600;
	font-size: 15px;
	text-align: center;
	text-decoration: none;
	transition-duration: 0.3s;
	cursor: pointer;
	background-color: #616161;
	border: 2px solid #616161;
}
#contact-button:hover {
	background-color: #4C4C4C;
	border: 2px solid #4C4C4C;
	color: #F3F3F3;
}
#contact-button:active {
	transition-duration: 0s;
}
#contact-button > a {
	color: #F3F3F3;
	font-weight: 600;
	font-size: 20px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
}


/* style and align send button */
#send-button {
	height: 30px;
	width: 100px;
	border-radius: 0px;
	color: #F3F3F3;
	font-weight: 600;
	font-size: 15px;
	text-align: center;
	text-decoration: none;
	transition-duration: 0.3s;
	cursor: pointer;
	background-color: #616161;
	border: 2px solid #616161;
}
#send-button:hover {
	background-color: #4C4C4C;
	border: 2px solid #4C4C4C;
	color: #F3F3F3;
}
#send-button:active {
	transition-duration: 0s;
}
#send-button > a {
	color: #F3F3F3;
	font-weight: 600;
	font-size: 20px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
}
