 /*center conten in screen*/
.centered {
	margin: 0 auto 20px auto;
	width: 1100px;
   padding-top: 40px;
   padding-bottom: 40px;
}

/*create gap above form*/
form {
	font-size: 18px;
	margin-top: 3%;
}

/*create box around inputs*/
.box {
	background-color: #F3F3F3;
	margin: 10px auto 10px auto;
	width: 80%;
	height: 90%;
	padding: 30px;
	padding-top: 0;
	border-color: #BDBDBD;
	border-width: 1px;
	border-style: solid;
}
.box_hidden {
	margin: 0 auto 0 auto;
	width: 80%;
	padding: 0px;
}

/*align inputs in middle of form*/
.align_center {
	margin: 0 auto 0 auto;
	width: 45%;
}

/*format inputs*/
input {
	width: 95%;
	height: 30px;
	font-size: 16px;
	padding-left: 10px;
}
.multiline {
	width: 95%;
	font-size: 16px;
	padding-left: 10px;
}

/*format headings*/
h2 {
	margin: 0;
	font-size: 25px;
}

/*define size of google map*/
#googleMap{
	width: 160%;
	margin-left: -30%;
	height: 400px;
	background-color: #8C8C8C;
}

/*style submit button*/
.submit_button {
	margin: 20px auto 0 20%;
	height: 40px;
	width: 60%;
	border-radius: 0px;
	padding: 6px;
	color: lightgray;
	font-weight: 600;
	font-size: 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	transition-duration: 0.3s;
	cursor: pointer;
	background-color: #373737;
   border: 2px solid #373737;
}
.submit_button:hover {
	background-color: #D7D7D4;
	border: 2px solid #D7D7D4;
	color: #373737;
}
.submit_button:active {
	transition-duration: 0s;
}

/*set discaaimer size*/
.disclaimer {
	margin: 0 auto 0 auto;
	width: 40%;
}

